@import 'src/styles/vars';

.stopogaspi {
  font-size: 1.5rem;
  width: 70%;
  margin: 0 auto;
  article {
    width: 60%;
    margin: 10px auto;
    padding: 10px 0;
    letter-spacing: 2px;
    background-color: lightcyan;

    h2 {
      padding-bottom: 10px;
    }
  }
  .skills-list {
    display: flex;
    justify-content: center;
    h4 {
      padding-bottom: 10px;
    }
    div{
      padding: 10px;
      word-break: break-word;
      width: 31%;
    }
  }
}
